---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    <p>Dynamic Data Engineer with a robust skill set in database management, ETL, and data analysis. Proficient coder with a track record of success in both professional and personal projects. Uniquely blending technical acumen with creative flair, I excel in media design, spanning filmmaking, editing, special effects, special effects makeup, and 3D design.</p>

    <p>Beyond the technical realm, I am recognized for orchestrating large-scale events—mastering the art of hosting immersive experiences like murder mysteries and game shows for over 20 participants. This highlights not only organizational finesse but also the ability to captivate diverse audiences.</p>
    
    <p>Passionate about innovation and committed to excellence, I bring a distinctive blend of skills to any team, seamlessly navigating the convergence of data engineering and creative expression. Ready to contribute a dynamic and impactful presence to your organization.</p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <div class="grid grid-cols-4 gap-4 mx-6">
    <!-- Column 1 -->
    <div class="mb-4 break-inside-avoid">
      <div class="font-bold">Database Management</div>
      <ul class="list-disc">
        <li>SQL</li>
        <li>Microsoft SQL Server</li>
        <li>MySQL</li>
        <li>Database Administration</li>
        <li>PostgreSQL</li>
        <li>Extract, Transform, Load (ETL)</li>
        <li>Data Analytics</li>
        <li>Data Insights</li>
        <!-- Add more items as needed -->
      </ul>
    </div>
  
    <!-- Column 2 -->
    <div class="mb-4 break-inside-avoid">
      <div class="font-bold">IT </div>
      <ul class="list-disc">
        <li>Windows</li>
        <!-- <li><a class="btn-circle btn-primary" href="/blog/tag/Hardware" target="_self" style="padding: 0px 5px">Hardware</a></li> -->
        <li>Hardware</li>
        <li>Apple</li>
        <li>Linux</li>
        <li>CLI</li>
        <li>Anaconda CLI</li>
        <li>GIT Bash</li>
        <!-- Add more items as needed -->
      </ul>
    </div>

    <!-- Column 3 -->
    <div class="mb-4 break-inside-avoid">
      <div class="font-bold">DevOps</div>
      <ul class="list-disc">
        <li>Docker</li>
        <li>Virtual Environments</li>
        <li>Git</li>
        <li>SourceTree</li>
        <li>BitBucket</li>
        <!-- Add more items as needed -->
      </ul>
    </div>
    
    <!-- Column 4 -->
    <div class="mb-4 break-inside-avoid">
      <div class="font-bold">Software Development</div>
      <ul class="list-disc">
        <li>C++</li>
        <li>C</li>
        <li>C#</li>
        <li>Java</li>
        <li>Python</li>
        <li>Application Support</li>
        <li>Unit Testing</li>
        <!-- Add more items as needed -->
      </ul>
    </div>
  </div>
  <br>

  <div class="grid grid-cols-4 gap-4 mx-6">

    <!-- Column 1 -->
    <div class="mb-4 break-inside-avoid">
      <div class="font-bold">Web Development</div>
      <ul class="list-disc">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Node.js</li>
        <li>Astro</li>
        <li>React</li>
        <li>Typescript</li>
        <!-- Add more items as needed -->
      </ul>
    </div>    
    
    <!-- Column 2 -->
    <div class="mb-4 break-inside-avoid">
      <div class="font-bold">Soft Skills</div>
      <ul class="list-disc">
        <li>Strong Organizational</li>
        <li>Communication Skills</li>
        <!-- Add more items as needed -->
      </ul>
    </div>

    <!-- Column 4 -->
    <div class="mb-4 break-inside-avoid">
      <div class="font-bold">3D Software</div>
      <ul class="list-disc">
        <li>Blender</li>
        <li>Unreal Engine</li>
        <li>Unity</li>
        <li>Reallusion Character Creator</li>
        <li>zBrush</li>
        <!-- Add more items as needed -->
      </ul>
    </div>

    <!-- Column 3 -->
    <div class="mb-4 break-inside-avoid">
      <div class="font-bold">Adobe Programs</div>
      <ul class="list-disc">
        <li>Acrobat Pro</li>
        <li>Photoshop</li>
        <li>Premiere</li>
        <li>After Effects</li>
        <li>Lightroom</li>
        <li>Audition</li>
        <li>XD</li>
        <li>Media Encoder</li>
        <li>Character Creator</li>
        <li>Substance 3D Designer</li>
        <li>Substance 3D Modeler</li>
        <li>Substance 3D Painter</li>
        <li>Substance 3D Sampler</li>
        <li>Substance 3D Stager</li>
        <li>Animate</li>
        <li>InDesign</li>
        <!-- Add more items as needed -->
      </ul>
    </div>

  </div>

  <br>

  <!-- <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
  <br> -->
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>
  <style>
    p 
    {
        margin-bottom: .4em
    }
  </style>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Data Engineer"
      subtitle="Feb 2022 - Nov 2022 at Rafter One |  Halifax, NS/Toronto, ON (Remote)"
    >
    <p>•Facilitated technical design sessions and translated client requirements into Salesforce data design, minimizing the need for custom development.</p>
    <p>•Built migration processes and implemented data solutions, including big data management strategies, migrations, and cleansing.</p>
    <p>•Designed and executed detailed test plans for quality assurance.</p>
    <p>•Analyzed and recommended data modeling, mapping, normalization strategy, and design improvements.</p>
    <p>•Collaborated with developers and integration specialists on custom solutions.</p>
    <br>
    </TimeLineElement>
    <TimeLineElement
      title="Product Development and Training Specialist" 
      subtitle="July 2020 - Jan 2022 at Absolute Results, Surrey, B.C, Canada"
    >
    <p>•Published video training programs for internal employees and customers in multiple languages.</p>
    <p>•Built and maintained training programs for new products and services.</p>
    <p>•Planned, designed, created, and managed all training materials for the company's suite of products and services across all markets.</p>
    <p>•Collaborated closely with the Development team to provide design input and conduct unit testing.</p>
    <p>•Set up processes and tools from scratch to train other team members on best practices.</p>
    <br>
    </TimeLineElement>
    <TimeLineElement
      title="International Data Team Lead"
      subtitle="From Jan 2016 – July 2020 at Absolute Results, Surrey, B.C, Canada"
    >
    <p>•Standardized data and automated workflows by publishing documented data standards and creating web applications.</p>
    <p>•Deployed a web application using Node.js/javascript to ensure data standardization.</p>
    <p>•Relocated to London, UK, to train staff, manage workflow, and update data management processes to adhere to GDPR policies for 6 months.</p>
    <p>•Provided application support and training on a newly developed production board.</p>
    <p>•Developed high-level presentations and implemented strategies to advance data procedures.</p>
    <br>
    </TimeLineElement>
    <TimeLineElement
    title="Senior Data Technician"
    subtitle="May 2015 – Jan 2016 at Absolute Results, Surrey, B.C, Canada"
    >
    <p>•Relocated to Montreal for 9 months to lead a team of staff members and train them in Agile methodologies, ensuring efficient workflow management and network diagnostics.</p>
    <p>•Conducted comprehensive reviews of data retrievals, data integrity, staff onboarding, and training processes to identify areas for improvement.</p>
    <p>•Collaborated with internal staff at all levels to update data process workflows and develop user-friendly interfaces for enhanced workflow systems.</p>
    <br>
    </TimeLineElement>
    <TimeLineElement
    title="Data Technician"
    subtitle="From May 2013 – May 2015 at Absolute Results, Surrey, B.C, Canada"
    >
    <p>•Conducted in-depth analysis of dealership data to identify client trends, enabling the development of frameworks for potential new vehicle purchases.</p>
    <p>•Demonstrated agility and adaptability in handling last-minute urgent tasks, effectively prioritizing workloads to meet critical deadlines and accommodate dealership needs.</p>
    <p>•Developed a PHP script that streamlined data fixing processes by allowing staff to quickly upload a single data field into the system, eliminating the need to upload the entire dataset through the portal.</p>
    <p>•Extracted data from a diverse range of CRM/DMS systems used by dealerships, ensuring comprehensive data collection for analysis and decision-making purposes.</p>  
    </TimeLineElement>
  </div>



  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education </div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Computer Information Systems"
      subtitle="University of the Fraser Valley | B.C, Canada • Spring 2014"
    ></TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->
</BaseLayout>
